<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.sheet.encoders">
      <encoder
            class="net.sf.anathema.character.sheet.socialcombat.SocialCombatStatsEncoder"
            fieldId="encoder.socialcombat">
      </encoder>
      <encoder
            class="net.sf.anathema.character.sheet.combat.CombatStatsEncoder"
            fieldId="encoder.combatstats">
      </encoder>
   </extension>

</plugin>
