<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="charmtree" name="Charm Tree" schema="schema/charmtree.exsd"/>
   <extension-point id="charmname" name="Charm Name" schema="schema/charmname.exsd"/>
   <extension-point id="charmdata" name="Charm Data" schema="schema/charmdata.exsd"/>
   <extension-point id="charmproviding" name="Charm Providing" schema="schema/charmproviding.exsd"/>
   <extension-point id="charmtraits" name="Charm Traits" schema="schema/charmtraits.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sf.anathema.charms.view.ZestView"
            id="net.sf.anathema.charms.charmview"
            name="CharmView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="net.sf.anathema.charms.charmproviding">
      <treeProvider
            class="net.sf.anathema.charms.extension.tree.CharmTreeExtensionPoint">
      </treeProvider>
      <charmDataMap
            class="net.sf.anathema.charms.extension.data.CharmDataExtensionPoint">
      </charmDataMap>
      <charmTraits
            class="net.sf.anathema.charms.extension.traits.CharmTraitExtensionPoint">
      </charmTraits>
   </extension>

</plugin>
