<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sf.anathema.character.attributes.templates" name="%attribute.templates.extension-name" schema="schema/net.sf.anathema.character.attributes.templates.exsd"/>
   <extension
         point="net.sf.anathema.character.models">
      <model
            filename="attributes.model"
            id="net.sf.anathema.character.attributes.model"
            modelFactory="net.sf.anathema.character.attributes.model.AttributesFactory">
         <displayConfiguration
               displayName="%viewelement.name.attributes"
               editorId="net.sf.anathema.character.attributes.editor"
               editorInputFactory="net.sf.anathema.character.attributes.model.AttributeEditorInputFactory"
               icon="icons/TabCharacter16.png">
         </displayConfiguration>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.character.trait.groupeditor.TraitGroupEditor"
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.character.attributes.editor"
            name="%editor.name.attributes">
      </editor>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configuration">
      <pointGroup
            groupId="attributepoints"
            modelId="net.sf.anathema.character.attributes.model"
            name="%character.attributes.pointconfiguration">
      </pointGroup>
      <bonusPointCalculator
            groupReference="attributepoints"
            handlerClass="net.sf.anathema.character.attributes.points.AttributeBonusPointHandler">
      </bonusPointCalculator>
      <experiencePointCalculator
            groupReference="attributepoints"
            handlerClass="net.sf.anathema.character.attributes.points.AttributeExperienceHandler">
      </experiencePointCalculator>
   </extension>
   <extension
         id="net.sf.anathema.markers.unspent.attribute.freebies"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>

</plugin>
