<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.notes.NotesEditor"
            contributorClass="net.sf.anathema.editor.styledtext.StyledTextEditorActionBarContributor"
            extensions="not"
            icon="icons/TabNotes16.png"
            id="editor.styledtext.editors.StyledTextEditor"
            name="Styled Text Editor">
      </editor>
   </extension>
   <extension
         point="net.sf.anathema.repository.itemtypes">
      <itemtype
            file-extension="not"
            icon="icons/TabNotes16.png"
		    id="net.sf.anathema.itemtype.Note"
            project="Notes"
            type="%itemtype.type.notes">
      </itemtype>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.notes.popup"
            objectClass="net.sf.anathema.basics.repository.treecontent.ItemTypeViewElement">
         <action
               class="net.sf.anathema.notes.NewNoteActionDelegate"
               icon="icons/TabNotes16.png"
               id="net.sf.anathema.notes.popup.new"
               label="%itemtype.new.note">
         </action>
      </objectContribution>
   </extension>

</plugin>
