<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.core.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.db"
            templateId="net.sf.anathema.character.template.dynastdb"
            name="%template.dynastdb.name">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="net.sf.anathema.character.points.bonuspoints">
      <bonuspoints
            amount="15"
            templateId="net.sf.anathema.character.template.dynastdb">
      </bonuspoints>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.character.template.dynastdb">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="7">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
      </creditList>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.db.NewDynastDbWizard"
            hasPages="false"
            icon="icons/DbIcon_16.png"
            id="net.sf.anathema.character.template.dynastdb.newwizard"
            name="%new.wizard.character.template.dynastdb">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.core.types">
      <characterType
            id="net.sf.anathema.character.type.db"
            image="icons/DbIcon_16.png"
            traitImageId="DbBall">
      </characterType>
   </extension>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="DbBall"
            resourceUrl="icons/Ball_Db_16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.importwizard.templateconverters">
      <converter
            newTemplateId="net.sf.anathema.character.template.dynastdb"
            oldCharacterType="Dragon-Blooded"
            oldTemplateId="TemplateType.Default">
      </converter>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.castes">
      <casteList
            characterType="net.sf.anathema.character.type.db">
         <caste
               casteId="Air"
               printName="%caste.printName.Air">
         </caste>
         <caste
               casteId="Earth"
               printName="%caste.printName.Earth">
         </caste>
         <caste
               casteId="Fire"
               printName="%caste.printName.Fire">
         </caste>
         <caste
               casteId="Water"
               printName="%caste.printName.Water">
         </caste>
         <caste
               casteId="Wood"
               printName="%caste.printName.Wood">
         </caste>
      </casteList>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.traitmodels">
      <traitmodel
            characterType="net.sf.anathema.character.type.db"
            modelId="net.sf.anathema.character.abilities.model">
      </traitmodel>
   </extension>

</plugin>
