<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.charactertype.dynastdb">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="7">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
      </creditList>
   </extension>
   <extension
         point="net.sf.anathema.character.templates">
      <template
            templateId="net.sf.anathema.charactertype.dynastdb"
            unnamedLabel="%charactertype.dynastdb.unnamedLabel">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.db.NewDynastDbWizard"
            hasPages="false"
            icon="icons/DbIcon_16.png"
            id="net.sf.anathema.charactertype.defaultsolar.newwizard"
            name="%new.wizard.charactertype.dynastdb">
      </wizard>
   </extension>

</plugin>
