<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.core.modeldependencies">
      <dependency
            characterType="net.sf.anathema.character.type.db"
            dependentModelId="net.sf.anathema.character.abilities.model"
            neededModelId="net.sf.anathema.character.caste.model">
      </dependency>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.db.NewDynastDbWizard"
            hasPages="false"
            icon="icons/DbIcon_16.png"
            id="net.sf.anathema.character.template.dynastdb.newwizard"
            name="%new.wizard.character.template.dynastdb">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.core.types">
      <characterType
            id="net.sf.anathema.character.type.db"
            image="icons/DbIcon_16.png"
            traitImageId="DbBall">
      </characterType>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.castes">
      <casteList
            characterType="net.sf.anathema.character.type.db">
         <caste
               casteId="Air"
               printName="%caste.printName.Air">
            <trait
                  traitId="Linguistics">
            </trait>
            <trait
                  traitId="Lore">
            </trait>
            <trait
                  traitId="Occult">
            </trait>
            <trait
                  traitId="Stealth">
            </trait>
            <trait
                  traitId="Thrown">
            </trait>
         </caste>
         <caste
               casteId="Earth"
               printName="%caste.printName.Earth">
            <trait
                  traitId="Awareness">
            </trait>
            <trait
                  traitId="Craft">
            </trait>
            <trait
                  traitId="Integrity">
            </trait>
            <trait
                  traitId="Resistance">
            </trait>
            <trait
                  traitId="War">
            </trait>
         </caste>
         <caste
               casteId="Fire"
               printName="%caste.printName.Fire">
            <trait
                  traitId="Athletics">
            </trait>
            <trait
                  traitId="Dodge">
            </trait>
            <trait
                  traitId="Melee">
            </trait>
            <trait
                  traitId="Presence">
            </trait>
            <trait
                  traitId="Socialize">
            </trait>
         </caste>
         <caste
               casteId="Water"
               printName="%caste.printName.Water">
            <trait
                  traitId="Bureaucracy">
            </trait>
            <trait
                  traitId="Investigation">
            </trait>
            <trait
                  traitId="Larceny">
            </trait>
            <trait
                  traitId="MartialArts">
            </trait>
            <trait
                  traitId="Sail">
            </trait>
         </caste>
         <caste
               casteId="Wood"
               printName="%caste.printName.Wood">
            <trait
                  traitId="Archery">
            </trait>
            <trait
                  traitId="Medicine">
            </trait>
            <trait
                  traitId="Performance">
            </trait>
            <trait
                  traitId="Ride">
            </trait>
            <trait
                  traitId="Survival">
            </trait>
         </caste>
      </casteList>
   </extension>
   <extension
         point="net.sf.anathema.character.abilities.groups">
      <groups
            characterType="net.sf.anathema.character.type.db">
         <traitGroup
               id="Air"
               label="%caste.printName.Air">
            <traitReference
                  traitId="Linguistics">
            </traitReference>
            <traitReference
                  traitId="Lore">
            </traitReference>
            <traitReference
                  traitId="Occult">
            </traitReference>
            <traitReference
                  traitId="Stealth">
            </traitReference>
            <traitReference
                  traitId="Thrown">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Earth"
               label="%caste.printName.Earth">
            <traitReference
                  traitId="Awareness">
            </traitReference>
            <traitReference
                  traitId="Craft">
            </traitReference>
            <traitReference
                  traitId="Integrity">
            </traitReference>
            <traitReference
                  traitId="Resistance">
            </traitReference>
            <traitReference
                  traitId="War">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Fire"
               label="%caste.printName.Fire">
            <traitReference
                  traitId="Athletics">
            </traitReference>
            <traitReference
                  traitId="Dodge">
            </traitReference>
            <traitReference
                  traitId="Melee">
            </traitReference>
            <traitReference
                  traitId="Presence">
            </traitReference>
            <traitReference
                  traitId="Socialize">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Water"
               label="%caste.printName.Water">
            <traitReference
                  traitId="Bureaucracy">
            </traitReference>
            <traitReference
                  traitId="Investigation">
            </traitReference>
            <traitReference
                  traitId="Larceny">
            </traitReference>
            <traitReference
                  traitId="MartialArts">
            </traitReference>
            <traitReference
                  traitId="Sail">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Wood"
               label="%caste.printName.Wood">
            <traitReference
                  traitId="Archery">
            </traitReference>
            <traitReference
                  traitId="Medicine">
            </traitReference>
            <traitReference
                  traitId="Performance">
            </traitReference>
            <traitReference
                  traitId="Ride">
            </traitReference>
            <traitReference
                  traitId="Survival">
            </traitReference>
         </traitGroup>
      </groups>
   </extension>
   <extension
         point="net.sf.anathema.character.core.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.db"
            templateId="net.sf.anathema.character.template.dynastdb"
            name="%template.dynastdb.name">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.favorization">
      <favorization
            characterTemplateId="net.sf.anathema.character.template.dynastdb"
            favoredCount="3"
            modelId="net.sf.anathema.character.abilities.model">
      </favorization>
   </extension>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="DbBall"
            resourceUrl="icons/Ball_Db_16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.importwizard.templateconverters">
      <converter
            newTemplateId="net.sf.anathema.character.template.dynastdb"
            oldCharacterType="Dragon-Blooded"
            oldTemplateId="TemplateType.Default">
      </converter>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.traitmodels">
      <traitmodel
            characterType="net.sf.anathema.character.type.db"
            modelId="net.sf.anathema.character.abilities.model">
      </traitmodel>
   </extension>
   <extension
         point="net.sf.anathema.character.points.bonuspoints">
      <bonuspoints
            amount="15"
            templateId="net.sf.anathema.character.template.dynastdb">
      </bonuspoints>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.character.template.dynastdb">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="7">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
         <credit
               id="net.sf.anathema.character.abilties.freebies.default"
               value="22">
         </credit>
         <credit
               id="net.sf.anathema.character.abilties.freebies.favored"
               value="13">
         </credit>
         <credit
               id="net.sf.anathema.character.abilities.count.favored"
               value="3">
         </credit>
      </creditList>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.validator">
      <validator>
         <condition>
            <where>
               <templateId
                     id="net.sf.anathema.character.template.dynastdb">
               </templateId>
            </where>
         </condition>
         <minimum
               value="1"
               traitId="Archery">
         </minimum>
         <minimum
               value="2"
               traitId="Lore">
         </minimum>
         <minimum
               value="1"
               traitId="MartialArts">
         </minimum>
         <minimum
               value="1"
               traitId="Melee">
         </minimum>
         <minimum
               value="1"
               traitId="Performance">
         </minimum>
         <minimum
               value="1"
               traitId="Presence">
         </minimum>
         <minimum
               value="1"
               traitId="Ride">
         </minimum>
         <minimum
               value="2"
               traitId="Socialize">
         </minimum>
         <minimum
               value="1"
               traitId="War">
         </minimum>
      </validator>
   </extension>
</plugin>
