<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="configurations" name="%extension-point.name.point.configuration" schema="schema/configurations.exsd"/>
   <extension-point id="bonuspoints" name="%extension-point.name.bonuspoints" schema="schema/bonuspoints.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sf.anathema.character.points.view.PointsView"
            id="net.sf.anathema.character.points"
            name="%points.view.name">
      </view>
   </extension>
   <extension
         point="net.sf.anathema.basics.repository.problemproviders">
      <provider
            class="net.sf.anathema.character.points.problems.BonusPointsProblemProvider">
      </provider>
   </extension>
</plugin>