<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.sheet.encoders">
      <encoder
            class="net.sf.anathema.character.sheet.equipment.weapons.WeaponryEncoder"
            fieldId="encoder.weaponry">
      </encoder>
      <encoder
            class="net.sf.anathema.character.sheet.equipment.armour.ArmourEncoder"
            fieldId="encoder.armour">
      </encoder>
      <encoder
            class="net.sf.anathema.character.sheet.equipment.possessions.PossessionsEncoder"
            fieldId="encoder.possessions">
      </encoder>
   </extension>

</plugin>
