<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.freebies.configurations">
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.PrimaryAttributeFreebies"
            name="%freebies.PrimaryAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.SecondaryAttributeFreebies"
            name="%freebies.SecondaryAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.TertiaryAttributeFreebies"
            name="%freebies.TertiaryAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.FavoredAttributeFreebiesHandler"
            name="%freebies.FreeFavoredAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.FavoredAttributeCountHandler"
            name="%freebies.FavoredCount">
      </FreebiesConfiguration>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <bonusPointCalculator
            groupReference="attributepoints"
            handlerClass="net.sf.anathema.character.freebies.attributes.AttributeFreebiesBonusPointReducer">
      </bonusPointCalculator>
      <bonusPointCalculator
            groupReference="attributepoints"
            handlerClass="net.sf.anathema.character.freebies.attributes.FavoredAttributeBonusPointReducer">
      </bonusPointCalculator>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.editordecorations">
      <decoration
            class="net.sf.anathema.character.freebies.attributes.coverage.SurplusMarkingEditorDecoration">
      </decoration>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditProvider
            class="net.sf.anathema.character.freebies.attributes.FavoredCountCreditProvider"
            id="net.sf.anathema.character.attributes.count.favored">
      </creditProvider>
   </extension>

   <extension
         id="net.sf.anathema.character.freebies.attributes.marker.primary"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>

   <extension
         id="net.sf.anathema.character.freebies.attributes.marker.secondary"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>

   <extension
         id="net.sf.anathema.character.freebies.attributes.marker.tertiary"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>
   <extension
         id="net.sf.anathema.character.freebies.attributes.marker.favoredcount"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>
</plugin>
