<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.points.bonuspoints">
      <bonuspoints
            amount="15"
            templateId="net.sf.anathema.character.template.defaultsolar">
      </bonuspoints>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.character.template.defaultsolar">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="8">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
      </creditList>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.solar.NewDefaultSolarWizard"
            hasPages="false"
            icon="icons/SolarIcon_16.png"
            id="net.sf.anathema.character.template.defaultsolar.newwizard"
            name="%new.wizard.character.template.defaultsolar">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.core.types">
      <characterType
            id="net.sf.anathema.character.type.solar"
            image="icons/SolarIcon_16.png"
            traitImageId="SolarBall">
      </characterType>
   </extension>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="SolarBall"
            resourceUrl="icons/Ball_Solar_16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.core.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.solar"
            templateId="net.sf.anathema.character.template.defaultsolar"
            name="%template.defaultsolar.name">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="net.sf.anathema.character.importwizard.templateconverters">
      <converter
            newTemplateId="net.sf.anathema.character.template.defaultsolar"
            oldCharacterType="Solar"
            oldTemplateId="TemplateType.Default">
      </converter>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.castes">
      <casteList
            characterType="net.sf.anathema.character.type.solar">
         <caste
               casteId="Dawn"
               printName="Dawn">
         </caste>
         <caste
               casteId="Zenith"
               printName="Zenith">
         </caste>
         <caste
               casteId="Twilight"
               printName="Twilight">
         </caste>
         <caste
               casteId="Night"
               printName="Night">
         </caste>
         <caste
               casteId="Eclipse"
               printName="Eclipse">
         </caste>
      </casteList>
   </extension>

</plugin>
