<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.charactertype.pactlunar">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="8">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
         <credit
               id="net.sf.anthema.character.attributes.freebies.favored"
               value="1">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.count.favored"
               value="1">
         </credit>
      </creditList>
   </extension>
   <extension
         point="net.sf.anathema.character.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.lunar"
            templateId="net.sf.anathema.charactertype.pactlunar"
            unnamedLabel="%charactertype.pactlunar.unnamedLabel">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.lunar.NewPactLunarWizard"
            hasPages="false"
            icon="icons/LunarIcon_16.png"
            id="net.sf.anathema.charactertype.pactlunar.newwizard"
            name="%new.wizard.charactertype.pactlunar">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.types">
      <characterType
            id="net.sf.anathema.character.type.lunar"
            image="icons/LunarIcon_16.png"
            traitImageId="LunarBall">
      </characterType>
   </extension>
   <extension
         point="net.sf.anathema.character.resources">
      <image
            referenceId="LunarBall"
            resourceUrl="icons/Ball_Lunar_16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.attributes.templates">
      <attributeTemplate
            favorizationCount="1"
            characterTemplateId="net.sf.anathema.charactertype.pactlunar">
      </attributeTemplate>
   </extension>

</plugin>
