<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="encoders" name="%sheet.encoder.extension.name" schema="schema/encoders.exsd"/>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="net.sf.anathema.character.sheet.wizard.SheetExportWizard"
            icon="icons/pdf_icon.png"
            id="net.sf.anathema.character.sheet.export"
            name="%exportWizard.CharacterSheet">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.sheet.encoders">
      <encoder
            class="net.sf.anathema.character.sheet.ExperienceEncoder"
            fieldId="encoder.experience">
      </encoder>
   </extension>

</plugin>
