<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.core.models">
      <model
            filename="experience.model"
            id="net.sf.anathema.character.experience.model"
            modelFactory="net.sf.anathema.character.experience.internal.ExperienceFactory">
      </model>
      <model
            filename="experiencepoints.model"
            id="net.sf.anathema.character.experience.points.model"
            modelFactory="net.sf.anathema.character.experience.points.ExperiencePointsFactory">
         <displayConfiguration
               displayName="Experience"
               editorId="net.sf.anathema.character.experiencepoints.editor"
               editorInputFactory="net.sf.anathema.character.experience.points.ExperiencePointsEditorInputFactory"
               icon="icons/TabCharacter16.png">
         </displayConfiguration>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Character_Experience.toolbar">
            <command
                  commandId="net.sf.anathema.character.experience.toggle"
                  label="%toggle.experience.command.toolbar.label"
                  style="toggle"
                  tooltip="%toogle.experience.command.tooltip">
               <visibleWhen>
                  <reference
                        definitionId="activeEditor.is.CharacterEditor">
                  </reference></visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.sf.anathema.basics.repositoryview">
         <command
               commandId="net.sf.anathema.character.experience.toggle"
               label="%toogle.experience.command.popup.label"
               style="toggle"
               tooltip="%toogle.experience.command.tooltip">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="net.sf.anathema.character.core.repository.CharacterViewElement">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.anathema.character.experience.toggle"
            name="%toggle.experience.command.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeEditor.is.CharacterEditor">
         <with
               variable="activeEditor">
            <test
                  forcePluginActivation="true"
                  property="net.sf.anathema.character.isCharacterEditor"
                  value="true">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.anathema.character.experience.internal.ToggleExperienceEditorHandler"
            commandId="net.sf.anathema.character.experience.toggle">
         <activeWhen>
            <reference
                  definitionId="activeEditor.is.CharacterEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="net.sf.anathema.character.experience.internal.ToggleExperienceSelectionHandler"
            commandId="net.sf.anathema.character.experience.toggle">
         <activeWhen>
            <and>
               <with
                     variable="selection">
                  <test
                        forcePluginActivation="true"
                        property="net.sf.anathema.character.experience.activateExperience">
                  </test>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="net.sf.anathema.character.core.repository.CharacterViewElement">
                     </instanceof>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.anathema.character.experience.internal.IsCharacterEditorTester"
            id="net.sf.anathema.testers.isCharacterEditor"
            namespace="net.sf.anathema.character"
            properties="isCharacterEditor"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
      <propertyTester
            class="net.sf.anathema.character.experience.internal.ActivateExperienceTester"
            id="net.sf.anathema.testers.activateExperience"
            namespace="net.sf.anathema.character.experience"
            properties="activateExperience"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.character.experience.points.ExperiencePointsEditor"
            default="false"
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.character.experiencepoints.editor"
            name="Experience">
      </editor>
   </extension>
   <extension
         point="net.sf.anathema.character.core.modellists">
      <modelList
            id="net.sf.anathema.character.basic.modelList">
         <modelReference
               modelId="net.sf.anathema.character.experience.points.model">
         </modelReference>
      </modelList>
   </extension>

</plugin>
