<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.freebies.configurations">
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.abilities.DefaultFreebiesHandler"
            name="Unlimited Free Ability Dots">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.abilities.FavoredFreebiesHandler"
            name="Favored Free Ability Dots">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.abilities.FavoredCountHandler"
            name="Favored Abilities">
      </FreebiesConfiguration>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <bonusPointCalculator
            groupReference="abilitypoints"
            handlerClass="net.sf.anathema.character.freebies.abilities.DefaultFreebiesBonusPointReducer">
      </bonusPointCalculator>
      <bonusPointCalculator
            groupReference="abilitypoints"
            handlerClass="net.sf.anathema.character.freebies.abilities.FavoredFreebiesBonusPointReducer">
      </bonusPointCalculator>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditProvider
            class="net.sf.anathema.character.freebies.abilities.FavoredCountCreditProvider"
            id="net.sf.anathema.character.attributes.count.favored">
      </creditProvider>
   </extension>

</plugin>
