<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.core.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.mortal"
            templateId="net.sf.anathema.character.template.heroicmortal"
            name="%template.heroicMortal.name">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="net.sf.anathema.character.points.bonuspoints">
      <bonuspoints
            amount="21"
            templateId="net.sf.anathema.character.template.heroicmortal">
      </bonuspoints>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.character.template.heroicmortal">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="4">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="3">
         </credit>
         <credit
               id="net.sf.anathema.character.abilties.freebies.default"
               value="25">
         </credit>
         <credit
               id="net.sf.anathema.character.abilities.count.favored"
               value="1">
         </credit>
      </creditList>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.mortal.NewHeroicMortalWizard"
            hasPages="false"
            icon="icons/MortalIcon_16.png"
            id="net.sf.anathema.character.template.heroicmortal.newwizard"
            name="%new.wizard.character.template.heroicmortal">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.core.types">
      <characterType
            id="net.sf.anathema.character.type.mortal"
            image="icons/MortalIcon_16.png"
            traitImageId="MortalBall">
      </characterType>
   </extension>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="MortalBall"
            resourceUrl="icons/Ball_Mortal_16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.importwizard.templateconverters">
      <converter
            newTemplateId="net.sf.anathema.character.template.heroicmortal"
            oldCharacterType="Mortal"
            oldTemplateId="HeroicMortal">
      </converter>
   </extension>

</plugin>
