<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.caste.castes">
      <casteList
            characterType="net.sf.anathema.character.type.sidereal">
         <caste
               casteId="Journeys"
               printName="%caste.printName.Journeys">
            <trait
                  traitId="Resistance">
            </trait>
            <trait
                  traitId="Ride">
            </trait>
            <trait
                  traitId="Sail">
            </trait>
            <trait
                  traitId="Survival">
            </trait>
            <trait
                  traitId="Thrown">
            </trait>
         </caste>
         <caste
               casteId="Serenity"
               printName="%caste.printName.Serenity">
            <trait
                  traitId="Craft">
            </trait>
            <trait
                  traitId="Dodge">
            </trait>
            <trait
                  traitId="Linguistics">
            </trait>
            <trait
                  traitId="Performance">
            </trait>
            <trait
                  traitId="Socialize">
            </trait>
         </caste>
         <caste
               casteId="Battles"
               printName="%caste.printName.Battles">
            <trait
                  traitId="Archery">
            </trait>
            <trait
                  traitId="Athletics">
            </trait>
            <trait
                  traitId="Melee">
            </trait>
            <trait
                  traitId="Presence">
            </trait>
            <trait
                  traitId="War">
            </trait>
         </caste>
         <caste
               casteId="Secrets"
               printName="%caste.printName.Secrets">
            <trait
                  traitId="Investigation">
            </trait>
            <trait
                  traitId="Larceny">
            </trait>
            <trait
                  traitId="Lore">
            </trait>
            <trait
                  traitId="Occult">
            </trait>
            <trait
                  traitId="Stealth">
            </trait>
         </caste>
         <caste
               casteId="Endings"
               printName="%caste.printName.Endings">
            <trait
                  traitId="Awareness">
            </trait>
            <trait
                  traitId="Bureaucracy">
            </trait>
            <trait
                  traitId="Integrity">
            </trait>
            <trait
                  traitId="MartialArts">
            </trait>
            <trait
                  traitId="Medicine">
            </trait>
         </caste>
      </casteList>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.traitmodels">
      <traitmodel
            characterType="net.sf.anathema.character.type.sidereal"
            modelId="net.sf.anathema.character.abilities.model">
      </traitmodel>
   </extension>
   <extension
         point="net.sf.anathema.character.abilities.groups">
      <groups
            characterType="net.sf.anathema.character.type.sidereal">
         <traitGroup
               id="Journeys"
               label="Journeys">
            <traitReference
                  traitId="Resistance">
            </traitReference>
            <traitReference
                  traitId="Ride">
            </traitReference>
            <traitReference
                  traitId="Sail">
            </traitReference>
            <traitReference
                  traitId="Survival">
            </traitReference>
            <traitReference
                  traitId="Thrown">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Serenity"
               label="Serenity">
            <traitReference
                  traitId="Craft">
            </traitReference>
            <traitReference
                  traitId="Dodge">
            </traitReference>
            <traitReference
                  traitId="Linguistics">
            </traitReference>
            <traitReference
                  traitId="Performance">
            </traitReference>
            <traitReference
                  traitId="Socialize">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Battles"
               label="Battles">
            <traitReference
                  traitId="Archery">
            </traitReference>
            <traitReference
                  traitId="Athletics">
            </traitReference>
            <traitReference
                  traitId="Melee">
            </traitReference>
            <traitReference
                  traitId="Presence">
            </traitReference>
            <traitReference
                  traitId="War">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Secrets"
               label="Secrets">
            <traitReference
                  traitId="Investigation">
            </traitReference>
            <traitReference
                  traitId="Larceny">
            </traitReference>
            <traitReference
                  traitId="Lore">
            </traitReference>
            <traitReference
                  traitId="Occult">
            </traitReference>
            <traitReference
                  traitId="Stealth">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Endings"
               label="Endings">
            <traitReference
                  traitId="Awareness">
            </traitReference>
            <traitReference
                  traitId="Bureaucracy">
            </traitReference>
            <traitReference
                  traitId="Integrity">
            </traitReference>
            <traitReference
                  traitId="MartialArts">
            </traitReference>
            <traitReference
                  traitId="Medicine">
            </traitReference>
         </traitGroup>
      </groups>
   </extension>
   <extension
         point="net.sf.anathema.character.core.modeldependencies">
      <dependency
            characterType="net.sf.anathema.character.type.sidereal"
            dependentModelId="net.sf.anathema.character.abilities.model"
            neededModelId="net.sf.anathema.character.caste.model">
      </dependency>
   </extension>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="SiderealBall"
            resourceUrl="icons/BorderSiderealButton16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.core.types">
      <characterType
            id="net.sf.anathema.character.type.sidereal"
            image="icons/SiderealIcon16.png"
            traitImageId="SiderealBall">
      </characterType>
   </extension>
   <extension
         point="net.sf.anathema.character.core.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.sidereal"
            name="%template.defaultsidereal.name"
            templateId="net.sf.anathema.character.template.defaultsidereal">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.collectionTemplates">
      <collectionTemplate
            characterTemplateId="net.sf.anathema.character.template.defaultsidereal"
            favoredCount="4"
            modelId="net.sf.anathema.character.abilities.model">
         <minimalValue
               value="2"
               traitId="Awareness">
         </minimalValue>
         <minimalValue
               value="2"
               traitId="Bureaucracy">
         </minimalValue>
         <minimalValue
               value="1"
               traitId="Linguistics">
         </minimalValue>
         <minimalValue
               value="3"
               traitId="Lore">
         </minimalValue>
         <minimalValue
               value="2"
               traitId="MartialArts">
         </minimalValue>
         <minimalValue
               value="2"
               traitId="Occult">
         </minimalValue>
         <minimalValue
               value="1"
               traitId="Socialize">
         </minimalValue>
         <minimalValue
               value="1"
               traitId="Stealth">
         </minimalValue>
      </collectionTemplate>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.character.template.defaultsidereal">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="8">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
         <credit
               id="net.sf.anathema.character.abilties.freebies.default"
               value="20">
         </credit>
         <credit
               id="net.sf.anathema.character.abilties.freebies.favored"
               value="15">
         </credit>
         <credit
               id="net.sf.anathema.character.abilities.count.favored"
               value="4">
         </credit>
      </creditList>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.sidereal.NewDefaultSiderealWizard"
            hasPages="false"
            icon="icons/SiderealIcon16.png"
            id="net.sf.anathema.character.template.defaultsidereal.newwizard"
            name="%new.wizard.character.template.defaultsidereal">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.importwizard.templateconverters">
      <converter
            newTemplateId="net.sf.anathema.character.template.defaultsidereal"
            oldCharacterType="Sidereal"
            oldTemplateId="TemplateType.Default">
      </converter>
   </extension>
   <extension
         point="net.sf.anathema.character.points.bonuspoints">
      <bonuspoints
            amount="18"
            templateId="net.sf.anathema.character.template.defaultsidereal">
      </bonuspoints>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.validator">
      <minimum
            value="3">
         <where>
            <traitId
                  id="Socialize">
            </traitId>
         </where>
         <where>
            <modelContent
                  definition="caste.is.Serenity">
            </modelContent>
         </where>
      </minimum>
      <minimum
            value="2">
         <where>
            <traitId
                  id="Athletics">
            </traitId></where>
         <where>
            <modelContent
                  definition="caste.is.Journeys">
            </modelContent>
         </where>
      </minimum>
   </extension>

</plugin>
