<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.core.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.sidereal"
            name="%template.defaultsidereal.name"
            templateId="net.sf.anathema.character.template.defaultsidereal">
         <modelList
               modelListId="net.sf.anathema.character.basic.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.character.template.defaultsidereal">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="8">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
      </creditList>
   </extension>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="SiderealBall"
            resourceUrl="icons/BorderSiderealButton16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.core.types">
      <characterType
            id="net.sf.anathema.character.type.sidereal"
            image="icons/SiderealIcon16.png"
            traitImageId="SiderealBall">
      </characterType>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.sidereal.NewDefaultSiderealWizard"
            hasPages="false"
            icon="icons/SiderealIcon16.png"
            id="net.sf.anathema.character.template.defaultsidereal.newwizard"
            name="%new.wizard.character.template.defaultsidereal">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.character.points.bonuspoints">
      <bonuspoints
            amount="18"
            templateId="net.sf.anathema.character.template.defaultsidereal">
      </bonuspoints>
   </extension>
   <extension
         point="net.sf.anathema.character.importwizard.templateconverters">
      <converter
            newTemplateId="net.sf.anathema.character.template.defaultsidereal"
            oldCharacterType="Sidereal"
            oldTemplateId="TemplateType.Default">
      </converter>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.castes">
      <casteList
            characterType="net.sf.anathema.character.type.sidereal">
         <caste
               casteId="Journeys"
               printName="Journeys">
         </caste>
         <caste
               casteId="Serenity"
               printName="Serenity">
         </caste>
         <caste
               casteId="Battles"
               printName="Battles">
         </caste>
         <caste
               casteId="Secrets"
               printName="Secrets">
         </caste>
         <caste
               casteId="Endings"
               printName="Endings">
         </caste>
      </casteList>
   </extension>

</plugin>
