<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sf.anathema.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%net.sf.anathema.rcp.PerspectiveName"
            class="net.sf.anathema.rcp.Perspective"
            id="net.sf.anathema.rcp.AnathemaPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.anathema.rcp.application"
            name="%net.sf.anathema.rcp.ProductName">
         <property
               name="appName"
               value="%net.sf.anathema.rcp.ProductName">
         </property>
         <property
               name="windowImages"
               value="icons/SunGear_16.gif,icons/SunGear_32.gif,icons/SunGear_48.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandlerProductBinding
            productId="net.sf.anathema.rcp.product"
            splashId="net.sf.anathema.rcp.splash">
      </splashHandlerProductBinding>
      <splashHandler
            class="net.sf.anathema.rcp.SplashHandler"
            id="net.sf.anathema.rcp.splash">
      </splashHandler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=viewList">
         <menu
               id="net.sf.anathema.rcp.menu.file"
               label="%net.sf.anathema.rcp.menu.file.name"
               mnemonic="%net.sf.anathema.rcp.menu.file.mnemonic">
            <command
                  commandId="org.eclipse.ui.newWizard">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.close">
            </command>
            <command
                  commandId="org.eclipse.ui.file.closeAll">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import">
            </command>
            <separator
                  name="separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="net.sf.anathema.rcp.toolbar.save">
            <command
                  commandId="org.eclipse.ui.file.save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
