<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sf.anathema.rcp.MainToolbar" name="%extensionPoint.mainToolbar.name" schema="schema/Anathema.MainToolbar.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sf.anathema.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%net.sf.anathema.rcp.PerspectiveName"
            class="net.sf.anathema.rcp.Perspective"
            id="net.sf.anathema.rcp.AnathemaPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.sf.anathema.rcp.application"
            name="%net.sf.anathema.rcp.ProductName">
         <property
               name="appName"
               value="%net.sf.anathema.rcp.ProductName">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="net.sf.anathema.rcp.SplashHandler"
            id="net.sf.anathema.rcp.splash">
      </splashHandler>
   </extension>

</plugin>
