<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.charms.charmproviding">
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Archery.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Athletics.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Awareness.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Bureaucracy.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Craft.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Dodge.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Integrity.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Investigation.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Larceny.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Linguistics.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Lore.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Medicine.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Melee.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Occult.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Performance.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Presence.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Resistance.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Ride.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Sail.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Socialize.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Stealth.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Survival.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_Thrown.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/Charms_DB_2nd_War.xml">
      </treeProvider>
   </extension>

</plugin>
