<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.charms.charmproviding">
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureArchery.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureAthletics.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureAwareness.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureBureaucracy.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureCraft.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureDodge.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureIntegrity.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureInvestigation.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureLarceny.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureLinguistics.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureLore.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureMedicine.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureMelee.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureOccult.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructurePerformance.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructurePresence.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureResistance.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureRide.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureSail.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureSocialize.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureStealth.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureSurvival.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureThrown.xml">
      </treeProvider>
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider"
            resource="data/StructureWar.xml">
      </treeProvider>
   </extension>
   <extension
         point="net.sf.anathema.charms.charmtree">
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.archery"
            name="Archery"
            primaryTrait="Archery">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.athletics"
            name="Athletics"
            primaryTrait="Athletics">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.awareness"
            name="Awareness"
            primaryTrait="Awareness">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.bureaucracy"
            name="Bureaucracy"
            primaryTrait="Bureaucracy">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.craft"
            name="Craft"
            primaryTrait="Craft">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.dodge"
            name="Dodge"
            primaryTrait="Dodge">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.integrity"
            name="Integrity"
            primaryTrait="Integrity">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.investigation"
            name="Investigation"
            primaryTrait="Investigation">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.larceny"
            name="Larceny"
            primaryTrait="Larceny">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.linguistics"
            name="Linguistics"
            primaryTrait="Linguistics">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.lore"
            name="Lore"
            primaryTrait="Lore">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.martialarts"
            name="Martial Arts"
            primaryTrait="MartialArts">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.medicine"
            name="Medicine"
            primaryTrait="Medicine">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.melee"
            name="Melee"
            primaryTrait="Melee">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.occult"
            name="Occult"
            primaryTrait="Occult">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.performance"
            name="Performance"
            primaryTrait="Performance">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.presence"
            name="Presence"
            primaryTrait="Presence">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.resistance"
            name="Resistance"
            primaryTrait="Resistance">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.ride"
            name="Ride"
            primaryTrait="Ride">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.sail"
            name="Sail"
            primaryTrait="Sail">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.socialize"
            name="Socialize"
            primaryTrait="Socialize">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.stealth"
            name="Stealth"
            primaryTrait="Stealth">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.survival"
            name="Survival"
            primaryTrait="Survival">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.thrown"
            name="Thrown"
            primaryTrait="Thrown">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.db"
            id="dragon-blooded.war"
            name="War"
            primaryTrait="War">
      </tree>
      <genericCharms
            characterType="net.sf.anathema.character.type.db">
         <charm
               id="dragon-blooded.any.{0}.excellency">
            <charmPrerequisite
                  charmId="dragon-blooded.first.{0}.excellency">
            </charmPrerequisite>
            <charmPrerequisite
                  charmId="dragon-blooded.second.{0}.excellency">
            </charmPrerequisite>
            <charmPrerequisite
                  charmId="dragon-blooded.third.{0}.excellency">
            </charmPrerequisite>
         </charm>
         <charm
               id="dragon-blooded.terrestrial.{0}.reinforcement">
            <charmPrerequisite
                  charmId="dragon-blooded.any.{0}.excellency">
            </charmPrerequisite>
         </charm>
      </genericCharms>
   </extension>

</plugin>
