<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="charmcosts" name="Charm costs" schema="schema/charmcosts.exsd"/>
   <extension-point id="specialcharms" name="specialcharms" schema="schema/specialcharms.exsd"/>
   <extension
         point="net.sf.anathema.character.core.models">
      <model
            filename="charms.model"
            id="net.sf.anathema.charms.character.modelId"
            modelFactory="net.sf.anathema.charms.character.model.CharmModelFactory">
         <displayConfiguration
               displayName="Charms"
               editorId="net.sf.anathema.charms.character.editor"
               editorInputFactory="net.sf.anathema.charms.character.editor.CharmsEditorInputFactory"
               icon="icons/TabCharacter16.png">
         </displayConfiguration>
      </model>
      <model
            filename="combo.model"
            id="net.sf.anathema.charms.character.combo.model"
            modelFactory="net.sf.anathema.charms.character.combo.ComboModelFactory">
         <displayConfiguration
               displayName="Combos"
               editorId="net.sf.anathema.character.charms.combos.editor"
               editorInputFactory="net.sf.anathema.charms.character.editor.ComboEditorInputFactory"
               icon="icons/TabCharacter16.png">
         </displayConfiguration>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.charms.character.editor.CharmsEditor"
            default="false"
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.charms.character.editor"
            name="Charms Editor">
      </editor>
      <editor
            class="net.sf.anathema.charms.character.editor.CombosEditor"
            default="false"
            icon="icons/Combos.png"
            id="net.sf.anathema.character.charms.combos.editor"
            name="Combos Editor">
      </editor>
   </extension>
   <extension
         point="net.sf.anathema.character.core.viewelementconfigurator">
      <configurator
            class="net.sf.anathema.charms.character.selection.TreeSelectionConfigurator"
            modelId="net.sf.anathema.charms.character.modelId">
      </configurator>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.sf.anathema.charms.character.model.CharmModelPersistableFactory"
            id="net.sf.anathema.charms.character.model.persistablefactory">
      </factory>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <experiencePointCalculator
            groupReference="charmCosts"
            handlerClass="net.sf.anathema.charms.character.points.ExperienceHandler">
      </experiencePointCalculator>
      <pointGroup
            groupId="charmCosts"
            modelId="net.sf.anathema.charms.character.modelId"
            name="Charms">
      </pointGroup>
      <bonusPointCalculator
            groupReference="charmCosts"
            handlerClass="net.sf.anathema.charms.character.points.CharmBonusPointHandler">
      </bonusPointCalculator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="character.preferences"
            class="net.sf.anathema.charms.character.preference.CharmPreferencePage"
            id="character.charms"
            name="Charms">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.anathema.charms.character.preference.CharmPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="net.sf.anathema.character.core.modellists">
      <modelList
            id="net.sf.anathema.character.essenceUser.modelList">
         <modelReference
               modelId="net.sf.anathema.charms.character.modelId">
         </modelReference>
         <modelReference
               modelId="net.sf.anathema.charms.character.combo.model">
         </modelReference>
      </modelList>
   </extension>
   <extension
         point="net.sf.anathema.character.core.properties">
      <propertyTester
            class="net.sf.anathema.charms.character.evaluation.HasLearnedCharm"
            id="hasLearnedCharm">
      </propertyTester>
   </extension>


</plugin>
