<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sf.anathema.editor.decoration.trait" name="%traitGroupEditorDecorations.extension-point.name" schema="schema/net.sf.anathema.editor.decoration.trait.exsd"/>
   <extension
         point="net.sf.anathema.character.resources">
      <image
            referenceId="UnselectedButton"
            resourceUrl="icons/BorderUnselectedButton16.png">
      </image>
      <image
            referenceId="SurplusButton"
            resourceUrl="icons/BorderBonusButton16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.anathema.character.trait.groupeditor.internal.IsTraitGroupEditorTester"
            id="activeEditor.is.TraitGroupEditor"
            namespace="net.sf.anathema.character"
            properties="isTraitGroupEditor"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeEditor.is.TraitGroupEditor">
         <with
               variable="activeEditor">
            <test
                  forcePluginActivation="true"
                  property="net.sf.anathema.character.isTraitGroupEditor"
                  value="true">
            </test>
         </with>
      </definition>
   </extension>

</plugin>
