<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="editordecorations" name="%traitGroupEditorDecorations.extension-point.name" schema="schema/editordecorations.exsd"/>
   <extension-point id="traitstatus" name="Trait Status" schema="schema/traitstatus.exsd"/>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="UnselectedButton"
            resourceUrl="icons/BorderUnselectedButton16.png">
      </image>
      <image
            referenceId="SurplusButton"
            resourceUrl="icons/BorderBonusButton16.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.anathema.character.trait.groupeditor.internal.IsTraitGroupEditorTester"
            id="activeEditor.is.TraitGroupEditor"
            namespace="net.sf.anathema.character"
            properties="isTraitGroupEditor"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeEditor.is.TraitGroupEditor">
         <with
               variable="activeEditor">
            <test
                  forcePluginActivation="true"
                  property="net.sf.anathema.character.isTraitGroupEditor"
                  value="true">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="character.preferences"
            class="net.sf.anathema.character.trait.preference.internal.TraitPreferencePage"
            id="character.traits"
            name="%preferences.page.traits">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.anathema.character.trait.preference.internal.TraitPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
