<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sf.anathema.character.models" name="%extension-point.name.charactermodels" schema="schema/net.sf.anathema.character.models.exsd"/>
   <extension
         point="net.sf.anathema.repository.itemtypes">
      <itemtype
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.itemtype.Character"
            project="Character"
            type="%itemtype.type.character"
            untitledName="%itemtype.untitled.character"
            viewElementFactoryClass="net.sf.anathema.character.core.repository.internal.CharacterViewElementFactory">
      </itemtype>
   </extension>
   <extension
         point="net.sf.anathema.character.models">
      <model
            filename="experience.model"
            id="net.sf.anathema.character.experience.model"
            modelFactory="net.sf.anathema.character.experience.ExperienceFactory">
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.character.popup"
            objectClass="net.sf.anathema.character.core.repository.internal.CharacterViewElement">
         <action
               class="net.sf.anathema.character.experience.ToggleExperienceActionDelegate"
               enablesFor="1"
               id="net.sf.anathema.character.experience.toggle"
               label="%character.experience.toggle"
               style="toggle">
         </action>
      </objectContribution>
      <viewerContribution
            id="EmptyContribution"
            targetID="EmptyContribution">
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.character.popup.new"
            objectClass="net.sf.anathema.basics.repository.treecontent.itemtype.ItemTypeViewElement">
         <action
               class="net.sf.anathema.character.core.create.NewCharacterActionDelegate"
               icon="icons/TabCharacter16.png"
               id="net.sf.anathema.character.core.popup.new"
               label="%itemtype.new.character">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sf.anathema.character.experiencepoints.PointsView"
            id="net.sf.anathema.character.experiencepoints"
            name="%experiencepoints.view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sf.anathema.character.experiencepoints.action"
            targetID="net.sf.anathema.character.experiencepoints">
         <action
               class="net.sf.anathema.character.experiencepoints.ForceUpdateActionDelegate"
               icon="icons/nav_refresh.gif"
               id="net.sf.anathema.character.experiencepoints.action.update"
               label="%experiencepoints.view.update"
               style="push"
               toolbarPath="main"
               tooltip="%experiencepoints.view.update">
         </action>
      </viewContribution>
   </extension>

</plugin>
