<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="models" name="%extension-point.name.charactermodels" schema="schema/models.exsd"/>
   <extension-point id="templates" name="%extension-point.name.charactertemplates" schema="schema/templates.exsd"/>
   <extension-point id="types" name="%extension-point.name.charactertypes" schema="schema/types.exsd"/>
   <extension-point id="resources" name="%extension-point.name.characterresources" schema="schema/resources.exsd"/>
   <extension-point id="modelmarkers" name="%extension-point.name.modelmarker" schema="schema/modelmarkers.exsd"/>
   <extension
         point="net.sf.anathema.basics.repository.itemtypes">
      <itemtype
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.itemtype.Character"
            project="Character"
            type="%itemtype.type.character"
            untitledName="%itemtype.untitled.character"
            viewElementFactoryClass="net.sf.anathema.character.core.repository.internal.CharacterViewElementFactory">
      </itemtype>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="net.sf.anathema.category.character"
            name="%new.wizard.category.name.character">
      </category>
   </extension>
   <extension
         point="net.sf.anathema.basics.repository.sourceopener">
      <opener
            class="net.sf.anathema.character.core.resource.CharacterModelEditorOpener"
            openerId="net.sf.anathema.character.modelopener">
      </opener>
   </extension>
   <extension
         point="net.sf.anathema.basics.repository.problemproviders">
      <provider
            class="net.sf.anathema.character.core.problem.UneditedModelProblemsProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="net.sf.anathema.category.character"
            name="%import.wizard.category.name.character">
      </category>
      <wizard
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.character.core.importwizard.CharacterImportWizard"
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.importwizard.character"
            name="%import.wizard.AnathemaClassicCharacter.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.anathema.character.core.preferences.CharacterPreferencePage"
            id="character.preferences"
            name="Character">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="net.sf.anathema.character.core.editors.ModelPersistableFactory"
            id="CharacterModelPersistableFactory">
      </factory>
   </extension>

</plugin>
