<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.models">
      <model
            filename="experience.model"
            id="net.sf.anathema.character.experience.model"
            modelFactory="net.sf.anathema.character.experience.internal.ExperienceFactory">
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.character.popup"
            objectClass="net.sf.anathema.character.core.repository.CharacterViewElement">
         <action
               class="net.sf.anathema.character.experience.internal.ToggleExperienceActionDelegate"
               enablesFor="1"
               id="net.sf.anathema.character.experience.toggle"
               label="%character.experience.toggle"
               style="toggle">
         </action>
      </objectContribution>
      <viewerContribution
            id="EmptyContribution"
            targetID="EmptyContribution">
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Character_Experience.toolbar">
            <command
                  commandId="net.sf.anathema.character.experience.toggle"
                  label="XP"
                  style="toggle"
                  tooltip="%net.sf.anathema.character.experience.toggle.tooltip">
               <visibleWhen>
                  <reference
                        definitionId="activeEditor.isInstanceOf.ICharacterEditor">
                  </reference></visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.sf.anathema.character.experience.internal.ToggleExperienceCommandHandler"
            id="net.sf.anathema.character.experience.toggle"
            name="Toggle Experience">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeEditor.isInstanceOf.ICharacterEditor">
         <with
               variable="activeEditor">
            <instanceof
                  value="net.sf.anathema.character.core.editors.ICharacterEditor">
            </instanceof>
         </with>
      </definition>
   </extension>

</plugin>
