<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.models">
      <model
            filename="experience.model"
            id="net.sf.anathema.character.experience.model"
            modelFactory="net.sf.anathema.character.experience.internal.ExperienceFactory">
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Character_Experience.toolbar">
            <command
                  commandId="net.sf.anathema.character.experience.toggle"
                  label="XP"
                  style="toggle"
                  tooltip="%net.sf.anathema.character.experience.toggle.tooltip">
               <visibleWhen>
                  <reference
                        definitionId="activeEditor.is.CharacterEditor">
                  </reference></visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:net.sf.anathema.basics.repositoryview">
         <command
               commandId="net.sf.anathema.character.experience.toggle"
               label="%character.experience.toggle"
               style="toggle"
               tooltip="%character.experience.toggle">
            <visibleWhen>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="net.sf.anathema.character.core.repository.CharacterViewElement">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.anathema.character.experience.toggle"
            name="Toggle Experience">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="activeEditor.is.CharacterEditor">
         <with
               variable="activeEditor">
            <test
                  forcePluginActivation="true"
                  property="net.sf.anathema.character.isCharacterEditor"
                  value="true">
            </test>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.anathema.character.experience.internal.ToggleExperienceEditorHandler"
            commandId="net.sf.anathema.character.experience.toggle">
         <activeWhen>
            <reference
                  definitionId="activeEditor.is.CharacterEditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="net.sf.anathema.character.experience.internal.ToggleExperienceSelectionHandler"
            commandId="net.sf.anathema.character.experience.toggle">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="net.sf.anathema.character.core.repository.CharacterViewElement">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.anathema.character.experience.internal.IsCharacterEditorTester"
            id="net.sf.anathema.testers.isCharacterEditor"
            namespace="net.sf.anathema.character"
            properties="isCharacterEditor"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>

</plugin>
