<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.freebies.configurations">
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.abilities.UnrestrictedFreebiesHandler"
            name="%FreebiesConfiguration.UnrestrictedFreeAbilityDots">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.abilities.FavoredFreebiesHandler"
            name="%FreebiesConfiguration.FavoredFreeAbilityDots">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.abilities.FavoredCountHandler"
            name="%FreebiesConfiguration.FavoredAbilities">
      </FreebiesConfiguration>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <bonusPointCalculator
            groupReference="abilitypoints"
            handlerClass="net.sf.anathema.character.freebies.abilities.UnrestrictedFreebiesBonusPointReducer">
      </bonusPointCalculator>
      <bonusPointCalculator
            groupReference="abilitypoints"
            handlerClass="net.sf.anathema.character.freebies.abilities.FavoredFreebiesBonusPointReducer">
      </bonusPointCalculator>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditProvider
            class="net.sf.anathema.character.freebies.abilities.FavoredCountCreditProvider"
            id="net.sf.anathema.character.attributes.count.favored">
      </creditProvider>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.editordecorations">
      <decoration
            class="net.sf.anathema.character.freebies.abilities.coverage.SurplusMarkingEditorDecoration">
      </decoration>
   </extension>

</plugin>
