<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="groups" name="%extension-point.name.abilitygroups" schema="schema/groups.exsd"/>
   <extension
         point="net.sf.anathema.character.core.models">
      <model
            filename="abilities.model"
            id="net.sf.anathema.character.abilities.model"
            modelFactory="net.sf.anathema.character.abilities.model.AbilitiesFactory">
         <displayConfiguration
               displayName="%Display-Configuration.Abilities"
               editorId="net.sf.anathema.character.abilities.editor"
               editorInputFactory="net.sf.anathema.character.abilities.model.AbilitiesEditorInputFactory"
               icon="icons/TabCharacter16.png">
         </displayConfiguration>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.character.trait.groupeditor.TraitGroupEditor"
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.character.abilities.editor"
            name="%editor.name.abilities">
      </editor>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <bonusPointCalculator
            groupReference="abilitypoints"
            handlerClass="net.sf.anathema.character.abilities.points.AbilitiesBonusPointHandler">
      </bonusPointCalculator>
      <experiencePointCalculator
            configurationId="abilitiesExperienceCosts"
            groupReference="abilitypoints"
            handlerClass="net.sf.anathema.character.points.trait.ExperienceHandler">
      </experiencePointCalculator>
      <experienceConfigurations>
         <experienceTraitConfiguration
               baseCost="2"
               id="abilitiesExperienceCosts"
               modelId="net.sf.anathema.character.abilities.model"
               newCost="3">
         </experienceTraitConfiguration>
      </experienceConfigurations>
      <pointGroup
            groupId="abilitypoints"
            modelId="net.sf.anathema.character.abilities.model"
            name="%pointGroup.name.0">
      </pointGroup>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.traitname">
      <messages
            class="net.sf.anathema.character.abilities.model.AbilitiesMessages">
      </messages>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.displaygroupfactory">
      <factory
            class="net.sf.anathema.character.abilities.util.AbilitiesDisplayGroupFactory"
            modelId="net.sf.anathema.character.abilities.model">
      </factory>
   </extension>
   <extension
         point="net.sf.anathema.character.core.modellists">
      <modelList
            id="net.sf.anathema.character.basic.modelList">
         <modelReference
               modelId="net.sf.anathema.character.abilities.model">
         </modelReference>
      </modelList>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.validator">
      <validator>
         <condition>
            <where>
               <modelContent
                     definition="net.sf.anathema.character.abilities.model">
               </modelContent>
            </where>
         </condition>
         <special
               class="net.sf.anathema.character.spiritualtraits.validator.RespectEssenceMaximum">
         </special>
      </validator>
   </extension>

</plugin>
