<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="textencoder" name="%CharacterReportTextEncoder.ExtensionPoint.name" schema="schema/textencoder.exsd"/>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="net.sf.anathema.character.textreport.wizard.TextReportExportWizard"
            icon="icons/pdf_icon.png"
            id="net.sf.anathema.character.textreport.wizard"
            name="Character Text Report">
      </wizard>
   </extension>

</plugin>
