<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.freebies.configurations">
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.PrimaryAttributeFreebies"
            name="%freebies.PrimaryAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.SecondaryAttributeFreebies"
            name="%freebies.SecondaryAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.TertiaryAttributeFreebies"
            name="%freebies.TertiaryAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.FavoredAttributeFreebiesHandler"
            name="%freebies.FreeFavoredAttributes">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.character.freebies.attributes.FavoredAttributeCountHandler"
            name="%freebies.FavoredCount">
      </FreebiesConfiguration>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <bonusPointCalculator
            groupReference="attributepoints"
            handlerClass="net.sf.anathema.character.freebies.attributes.FreebiesBonusPointReducer">
      </bonusPointCalculator>
      <bonusPointCalculator
            groupReference="attributepoints"
            handlerClass="net.sf.anathema.character.freebies.attributes.FavoredAttributeBonusPointReducer">
      </bonusPointCalculator>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.editordecorations">
      <decoration
            class="net.sf.anathema.character.freebies.attributes.coverage.SurplusMarkingEditorDecoration">
      </decoration>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.anathema.character.freebies.toggle.surplusmarking"
            name="%toggle.surplusmarking.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.anathema.character.freebies.attributes.coverage.ToggleSurplusMarkingHandler"
            commandId="net.sf.anathema.character.freebies.toggle.surplusmarking">
         <activeWhen>
            <reference
                  definitionId="activeEditor.is.TraitGroupEditor">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=net.sf.anathema.rcp.toolbar.save">
         <toolbar
               id="Character_Freebies.toolbar">
            <command
                  commandId="net.sf.anathema.character.freebies.toggle.surplusmarking"
                  icon="icons/highlight.gif"
                  style="toggle"
                  tooltip="%toggle.surplusmarking.command.tooltip">
               <visibleWhen>
                  <reference
                        definitionId="activeEditor.is.TraitGroupEditor">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditProvider
            class="net.sf.anathema.character.freebies.attributes.FavoredCountCreditProvider"
            id="net.sf.anathema.character.attributes.count.favored">
      </creditProvider>
   </extension>
   <extension
         point="net.sf.anathema.character.core.modelmarkers">
      <marker
            class="net.sf.anathema.character.freebies.attributes.mark.AttributesMarker"
            modelId="net.sf.anathema.character.attributes.model">
      </marker>
   </extension>

   <extension
         id="net.sf.anathema.markers.unspent.primary.attribute"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>

   <extension
         id="net.sf.anathema.markers.unspent.secondary.attribute"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>

   <extension
         id="net.sf.anathema.markers.unspent.tertiary.attribute"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>
   <extension
         id="net.sf.anathema.markers.unspent.attribute.freebies"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>
   <extension
         id="net.sf.anathema.markers.unspent.attribute.picks"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="net.sf.anathema.markers.view.element">
      </super>
   </extension>
</plugin>
