<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.editor.styledtext.StyledTextEditor"
            contributorClass="net.sf.anathema.editor.styledtext.StyledTextEditorActionBarContributor"
            extensions="not"
            icon="icons/TabNotes16.png"
            id="net.sf.anathema.campaign.note.noteeditor"
            name="%net.sf.anathema.campaign.note.noteeditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.campaign"
            class="net.sf.anathema.campaign.note.NewNoteWizard"
            hasPages="false"
            icon="icons/TabNotes16.png"
            id="net.sf.anathema.campaign.note.newwizard"
            name="%new.wizard.note.name">
      </wizard>
   </extension>
   <extension
         point="net.sf.anathema.basics.repository.itemtypes">
      <itemtype
            file-extension="not"
            icon="icons/TabNotes16.png"
            id="net.sf.anathema.itemtype.Note"
            project="Note"
            type="%itemtype.type.notes"
            untitledName="%itemtype.untitled.note"
            viewElementFactoryClass="net.sf.anathema.basics.repository.treecontent.itemtype.FileItemTypeViewElementFactory">
      </itemtype>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="net.sf.anathema.category.campaign"
            class="net.sf.anathema.campaign.note.importwizard.NoteImportWizard"
            icon="icons/TabNotes16.png"
            id="net.sf.anathema.importwizard.note"
            name="Note from Classic Anathema">
         <description>
            Import a Note created with older versions of Anathema.
         </description>
      </wizard>
   </extension>

</plugin>
