<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.charms.charmproviding">
      <treeProvider
            class="net.sf.anathema.charms.xml.XmlTreeProvider">
           <resource resource="data/StructureArchery.xml"/>
           <resource resource="data/StructureAthletics.xml"/>
            <resource resource="data/StructureAwareness.xml"/>
            <resource resource="data/StructureBureaucracy.xml"/>
<resource             resource="data/StructureCraft.xml"/>
<resource             resource="data/StructureDodge.xml"/>
<resource             resource="data/StructureIntegrity.xml"/>
<resource             resource="data/StructureInvestigation.xml"/>
<resource             resource="data/StructureLarceny.xml"/>
<resource             resource="data/StructureLinguistics.xml"/>
<resource             resource="data/StructureLore.xml"/>
<resource             resource="data/StructureMedicine.xml"/>
<resource             resource="data/StructureMelee.xml"/>
<resource             resource="data/StructureOccult.xml"/>
<resource             resource="data/StructurePerformance.xml"/>
<resource             resource="data/StructurePresence.xml"/>
<resource             resource="data/StructureResistance.xml"/>
<resource             resource="data/StructureRide.xml"/>
<resource             resource="data/StructureSail.xml"/>
<resource             resource="data/StructureSocialize.xml"/>
<resource             resource="data/StructureStealth.xml"/>
<resource             resource="data/StructureSurvival.xml"/>
<resource             resource="data/StructureThrown.xml"/>
<resource             resource="data/StructureWar.xml"/>
      </treeProvider>
   </extension>
   <extension
         point="net.sf.anathema.charms.charmtree">
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.archery"
            name="Archery"
            primaryTrait="Archery">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.athletics"
            name="Athletics"
            primaryTrait="Athletics">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.awareness"
            name="Awareness"
            primaryTrait="Awareness">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.bureaucracy"
            name="Bureaucracy"
            primaryTrait="Bureaucracy">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.craft"
            name="Craft"
            primaryTrait="Craft">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.dodge"
            name="Dodge"
            primaryTrait="Dodge">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.integrity"
            name="Integrity"
            primaryTrait="Integrity">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.investigation"
            name="Investigation"
            primaryTrait="Investigation">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.larceny"
            name="Larceny"
            primaryTrait="Larceny">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.linguistics"
            name="Linguistics"
            primaryTrait="Linguistics">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.lore"
            name="Lore"
            primaryTrait="Lore">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.martialarts"
            name="Martial Arts"
            primaryTrait="MartialArts">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.medicine"
            name="Medicine"
            primaryTrait="Medicine">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.melee"
            name="Melee"
            primaryTrait="Melee">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.occult"
            name="Occult"
            primaryTrait="Occult">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.performance"
            name="Performance"
            primaryTrait="Performance">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.presence"
            name="Presence"
            primaryTrait="Presence">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.resistance"
            name="Resistance"
            primaryTrait="Resistance">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.ride"
            name="Ride"
            primaryTrait="Ride">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.sail"
            name="Sail"
            primaryTrait="Sail">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.socialize"
            name="Socialize"
            primaryTrait="Socialize">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.stealth"
            name="Stealth"
            primaryTrait="Stealth">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.survival"
            name="Survival"
            primaryTrait="Survival">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.thrown"
            name="Thrown"
            primaryTrait="Thrown">
      </tree>
      <tree
            characterType="net.sf.anathema.character.type.sidereal"
            id="sidereal.war"
            name="War"
            primaryTrait="War">
      </tree>
      <genericCharms
            characterType="net.sf.anathema.character.type.sidereal">
         <charm
               id="sidereal.any.{0}.excellency">
            <charmPrerequisite
                  charmId="sidereal.first.{0}.excellency">
            </charmPrerequisite>
            <charmPrerequisite
                  charmId="sidereal.first.{0}.excellency">
            </charmPrerequisite>
            <charmPrerequisite
                  charmId="sidereal.third.{0}.excellency">
            </charmPrerequisite>
         </charm>
         <charm
               id="sidereal.fateful.{0}.excellency">
            <charmPrerequisite
                  charmId="sidereal.any.{0}.excellency">
            </charmPrerequisite>
         </charm>
         <charm
               id="sidereal.propitious.{0}.alignment">
            <charmPrerequisite
                  charmId="sidereal.any.{0}.excellency">
            </charmPrerequisite>
         </charm>
      </genericCharms>
   </extension>

</plugin>
