<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.repository.itemtypes">
      <itemtype
            icon="icons/TabSeries16.png"
            id="net.sf.anathema.itemtype.Plot"
            project="Series"
            type="%itemtype.type.series"
            untitledName="%itemtype.untitled.series"
            viewElementFactoryClass="net.sf.anathema.campaign.plot.repository.SeriesViewElementFactory">
      </itemtype>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
     <editor
           class="net.sf.anathema.editor.styledtext.StyledTextEditor"
           contributorClass="net.sf.anathema.editor.styledtext.StyledTextEditorActionBarContributor"
           extensions="srs"
           icon="icons/TabSeries16.png"
           id="net.sf.anathema.plot.serieseditor"
           name="Styled Text Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.campaign.plot.element.popup"
            objectClass="net.sf.anathema.campaign.plot.repository.PlotElementViewElement">
         <action
               class="net.sf.anathema.campaign.plot.creation.NewPlotElementActionDelegate"
               id="net.sf.anathema.plotelement.popup.new"
               label="%new.plotelement">
         </action>
      </objectContribution>
      <viewerContribution
            id="EmptyContribution"
            targetID="EmptyContribution">
      </viewerContribution>
   </extension>
   <extension
         point="net.sf.anathema.repository.dnd">
      <dndFactory
            class="net.sf.anathema.campaign.plot.dnd.PlotRepositoryDND">
      </dndFactory>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.campaign.plot.itemtype.popup"
            objectClass="net.sf.anathema.basics.repository.treecontent.itemtype.ItemTypeViewElement">
         <action
               class="net.sf.anathema.campaign.plot.creation.NewPlotActionDelegate"
               icon="icons/TabSeries16.png"
               id="net.sf.anathema.campaign.plot.popup"
               label="%itemtype.new.plot">
         </action>
      </objectContribution>
      <viewerContribution
            id="EmptyContribution"
            targetID="EmptyContribution">
      </viewerContribution>
   </extension>

</plugin>
