<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sf.anathema.plot.unit" name="%plot.extension-point.plotunit.name" schema="schema/net.sf.anathema.plot.unit.exsd"/>
   <extension
         point="net.sf.anathema.repository.itemtypes">
      <itemtype
            icon="icons/TabSeries16.png"
            id="net.sf.anathema.itemtype.Plot"
            project="Plot"
            type="%itemtype.type.plot"
            untitledName="%itemtype.untitled.plot"
            viewElementFactoryClass="net.sf.anathema.campaign.plot.repository.PlotViewElementFactory">
      </itemtype>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
     <editor
           class="net.sf.anathema.editor.styledtext.StyledTextEditor"
           contributorClass="net.sf.anathema.editor.styledtext.StyledTextEditorActionBarContributor"
           extensions="srs"
           icon="icons/TabSeries16.png"
           id="net.sf.anathema.campaign.plot.ploteditor"
           name="%net.sf.anathema.campaign.plot.ploteditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.campaign.plot.element.popup"
            objectClass="net.sf.anathema.campaign.plot.repository.PlotElementViewElement">
         <action
               class="net.sf.anathema.campaign.plot.creation.NewPlotElementActionDelegate"
               id="net.sf.anathema.plotelement.popup.new"
               label="%new.plotelement">
         </action>
         <action
               class="net.sf.anathema.campaign.plot.repository.DeletePlotElementActionDelegate"
               icon="icons/delete_obj.gif"
               id="net.sf.anathema.plotelement.popup.delete"
               label="%delete.plotelement">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.campaign.plot.itemtype.popup"
            objectClass="net.sf.anathema.basics.repository.treecontent.itemtype.ItemTypeViewElement">
         <action
               class="net.sf.anathema.campaign.plot.creation.NewPlotActionDelegate"
               icon="icons/TabSeries16.png"
               id="net.sf.anathema.campaign.plot.popup"
               label="%itemtype.new.plot">
         </action>
      </objectContribution>
      <viewerContribution
            id="EmptyContribution"
            targetID="EmptyContribution">
      </viewerContribution>
   </extension>
   <extension
         point="net.sf.anathema.repository.dnd">
      <dndFactory
            class="net.sf.anathema.campaign.plot.dnd.PlotRepositoryDND">
      </dndFactory>
   </extension>
   <extension
         point="net.sf.anathema.plot.unit">
      <Unit
            icon="icons/FolderPlot16.png"
            id="net.sf.anathema.plot.unit.plot"
            name="%plotunit.unit.plot"
            recursive="false">
      </Unit>
      <Unit
            icon="icons/FolderStory16.png"
            id="net.sf.anathema.plot.unit.story"
            name="%plotunit.unit.story"
            parentId="net.sf.anathema.plot.unit.plot"
            recursive="false">
      </Unit>
      <Unit
            icon="icons/FolderEpisode16.png"
            id="net.sf.anathema.plot.unit.episode"
            name="%plotunit.unit.episode"
            parentId="net.sf.anathema.plot.unit.story"
            recursive="false">
      </Unit>
      <Unit
            icon="icons/FolderScene16.png"
            id="net.sf.anathema.plot.unit.scene"
            name="%plotunit.unit.scene"
            parentId="net.sf.anathema.plot.unit.episode"
            recursive="true">
      </Unit>
   </extension>

</plugin>
