<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sf.anathema.repository.itemtypes" name="%repository.extension-point.itemtypes.name" schema="schema/net.sf.anathema.repository.itemtypes.exsd"/>
   <extension-point id="net.sf.anathema.repository.dnd" name="%repository.extension-point.dnd.name" schema="schema/net.sf.anathema.repository.dnd.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sf.anathema.basics.repository.view.internal.RepositoryView"
            icon="icons/repositoryview.gif"
            id="net.sf.anathema.basics.repositoryview"
            name="%repository.view.repositorytree.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.sf.anathema.basics.repository.view.action"
            targetID="net.sf.anathema.basics.repositoryview">
         <action
               class="net.sf.anathema.basics.repository.linkage.RepositoryEditorLinkActionDelegate"
               icon="icons/synced.gif"
               id="net.sf.anathema.basics.repository.view.link"
               label="%repository.view.actions.link"
               style="toggle"
               toolbarPath="main"
               tooltip="%repository.view.actions.link">
         </action>
         <action
               class="net.sf.anathema.basics.repository.view.internal.CollapseTreeActionDelegate"
               icon="icons/collapseall.gif"
               id="net.sf.anathema.basics.repository.view.collapse"
               label="%repository.view.actions.collapse"
               style="push"
               toolbarPath="main"
               tooltip="%repository.view.actions.collapse">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="net.sf.anathema.basics.repository.element.popup"
            objectClass="net.sf.anathema.basics.repository.treecontent.itemtype.IViewElement">
         <action
               class="net.sf.anathema.basics.repository.view.internal.ExpandViewElementActionDelegate"
               icon="icons/expandall.gif"
               id="net.sf.anathema.basics.repository.expand"
               label="%repository.view.actions.expand"
               tooltip="%repository.view.actions.expand">
         </action>
         <action
               class="net.sf.anathema.basics.repository.treecontent.DeleteViewElementActionDelegate"
               definitionId="net.sf.anathema.basics.repository.delete.command"
               icon="icons/delete_obj.gif"
               id="net.sf.anathema.basics.repository.delete.action"
               label="%repository.view.actions.delete"
               tooltip="%repository.view.actions.delete">
         </action>
      </objectContribution>
      <viewerContribution
            id="EmptyContribution"
            targetID="EmptyContribution">
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.anathema.basics.repository.delete.command"
            name="%repository.view.actions.delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.anathema.basics.repository.delete.command"
            schemeId="net.sf.anathema.basics.repository.scheme"
            sequence="DEL">
      </key>
      <scheme
            id="net.sf.anathema.basics.repository.scheme"
            name="%repository.binding.scheme">
      </scheme>
   </extension>
</plugin>
