<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="net.sf.anathema.repository.itemtypes" name="%repository.extension-point.itemtypes.name" schema="schema/net.sf.anathema.repository.itemtypes.exsd"/>
   <extension-point id="net.sf.anathema.repository.dnd" name="%repository.extension-point.dnd.name" schema="schema/net.sf.anathema.repository.dnd.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sf.anathema.basics.repository.view.internal.RepositoryView"
            icon="icons/repositoryview.gif"
            id="net.sf.anathema.basics.repositoryview"
            name="%repository.view.repositorytree.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.sf.anathema.basics.commands.delete"
            name="%repository.view.actions.delete">
      </command>
      <command
            id="net.sf.anathema.commands.treeexpand"
            name="%repository.command.name.expandall">
      </command>
      <command
            defaultHandler="net.sf.anathema.basics.repository.linkage.RepositoryEditorLinkHandler"
            id="net.sf.anathema.commands.editorlink"
            name="%repository.view.actions.link">
      </command>
      <command
            defaultHandler="net.sf.anathema.basics.repository.view.internal.CollapseTreeHandler"
            id="net.sf.anathema.commands.collapseall"
            name="%repository.view.actions.collapse">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.sf.anathema.basics.commands.delete"
            schemeId="net.sf.anathema.basics.repository.scheme"
            sequence="DEL">
      </key>
      <scheme
            id="net.sf.anathema.basics.repository.scheme"
            name="%repository.binding.scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:net.sf.anathema.basics.repositoryview">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="%new.wizard.command.label">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="net.sf.anathema.basics.repository.treecontent.itemtype.ItemTypeViewElement">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="separator"
               visible="true">
         </separator>
         <command
               commandId="net.sf.anathema.commands.treeexpand"
               icon="icons/expandall.gif"
               label="%repository.view.actions.expand"
               style="push"
               tooltip="%repository.view.actions.expand">
         </command>
         <command
               commandId="net.sf.anathema.basics.commands.delete"
               icon="icons/delete_obj.gif"
               label="%repository.view.actions.delete"
               style="push"
               tooltip="%repository.view.actions.delete">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:net.sf.anathema.basics.repositoryview">
         <command
               commandId="net.sf.anathema.commands.collapseall"
               icon="icons/collapseall.gif"
               label="%repository.view.actions.collapse"
               style="push"
               tooltip="%repository.view.actions.collapse">
         </command>
         <command
               commandId="net.sf.anathema.commands.editorlink"
               icon="icons/synced.gif"
               label="%repository.view.actions.link"
               style="toggle"
               tooltip="%repository.view.actions.link">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="net.sf.anathema.basics.repository.view.internal.ExpandViewElementHandler"
            commandId="net.sf.anathema.commands.treeexpand">
         <activeWhen>
            <and>
               <reference
                     definitionId="net.sf.anathema.definitions.singleViewElementSelection">
               </reference>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           forcePluginActivation="true"
                           property="net.sf.anathema.basics.repository.hasChildren"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </and></activeWhen>
      </handler>
      <handler
            class="net.sf.anathema.basics.repository.treecontent.DeleteViewElementHandler"
            commandId="net.sf.anathema.basics.commands.delete">
         <activeWhen>
            <and>
               <reference
                     definitionId="net.sf.anathema.definitions.singleViewElementSelection">
               </reference>
               <with
                     variable="selection">
                  <iterate>
                     <adapt
                           type="net.sf.anathema.basics.repository.treecontent.deletion.IPageDelible">
                        <instanceof
                              value="net.sf.anathema.basics.repository.treecontent.deletion.IPageDelible">
                        </instanceof>
                     </adapt>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.sf.anathema.basics.repository.view.internal.HasChildrenTester"
            id="net.sf.anathema.testers.haschildren"
            namespace="net.sf.anathema.basics.repository"
            properties="hasChildren"
            type="net.sf.anathema.basics.repository.treecontent.itemtype.IViewElement">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.sf.anathema.definitions.singleViewElementSelection">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="net.sf.anathema.basics.repository.treecontent.itemtype.IViewElement">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="net.sf.anathema.basics.repository.treecontent.itemtype.IViewElement"
            class="net.sf.anathema.basics.repository.treecontent.itemtype.ViewElementPageDelibleAdapterFactory">
         <adapter
               type="net.sf.anathema.basics.repository.treecontent.deletion.IPageDelible">
         </adapter>
      </factory>
   </extension>
   <extension
         id="net.sf.anathema.markers.view.element"
         point="org.eclipse.core.resources.markers">
   </extension>
</plugin>
