<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="net.sf.anathema.map.view.MapView"
            id="net.sf.anathema.views.Map"
            name="Creation Map">
      </view>
   </extension>

</plugin>
