<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="spiritualTraitCosts" name="%extension-point.name.0" schema="schema/spiritualTraitCosts.exsd"/>
   <extension
         point="net.sf.anathema.character.core.models">
      <model
            filename="spiritual.model"
            id="net.sf.anathema.character.spiritualtraits.model"
            modelFactory="net.sf.anathema.character.spiritualtraits.model.SpiritualTraitModelFactory">
         <displayConfiguration
               displayName="%displayConfiguration.displayName.0"
               editorId="net.sf.anathema.character.spiritualtraits.editor"
               editorInputFactory="net.sf.anathema.character.spiritualtraits.editor.SpirtualTraitsEditorInputFactory"
               icon="icons/TabCharacter16.png">
         </displayConfiguration>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.character.trait.groupeditor.TraitGroupEditor"
            default="false"
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.character.spiritualtraits.editor"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.validator">
      <validator>
         <condition>
            <where>
               <modelId
                     id="net.sf.anathema.character.spiritualtraits.model">
               </modelId>
            </where>
         </condition>
         <minimum
               value="1">
         </minimum>
      </validator>
      <validator>
         <condition>
            <wherenot>
               <characterType
                     id="net.sf.anathema.character.type.mortal">
               </characterType>
            </wherenot>
         </condition>
         <minimum
               traitId="Essence"
               value="2">
         </minimum>
      </validator>
      <validator>
         <condition>
            <where>
               <modelId
                     id="net.sf.anathema.character.spiritualtraits.model">
               </modelId>
            </where>
         </condition>
      </validator>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <bonusPointCalculator
            groupReference="essence"
            handlerClass="net.sf.anathema.character.spiritualtraits.points.EssenceBonuspointHandler">
      </bonusPointCalculator>
      <bonusPointCalculator
            groupReference="virtues"
            handlerClass="net.sf.anathema.character.spiritualtraits.points.VirtuesBonuspointHandler">
      </bonusPointCalculator>
      <experiencePointCalculator
            groupReference="essence"
            handlerClass="net.sf.anathema.character.spiritualtraits.points.EssenceExperiencePointHandler">
      </experiencePointCalculator>
      <pointGroup
            groupId="essence"
            modelId="net.sf.anathema.character.spiritualtraits.model"
            name="%pointGroup.essence.name">
      </pointGroup>
      <pointGroup
            groupId="virtues"
            modelId="net.sf.anathema.character.spiritualtraits.model"
            name="Virtues">
      </pointGroup>
   </extension>
   <extension
         point="net.sf.anathema.character.core.modellists">
      <modelList
            id="net.sf.anathema.character.basic.modelList">
         <modelReference
               modelId="net.sf.anathema.character.spiritualtraits.model">
         </modelReference>
      </modelList>
   </extension>

</plugin>
