<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.trait.maintraits">
      <traitmodel
            characterType="net.sf.anathema.character.type.solar"
            modelId="net.sf.anathema.character.abilities.model">
      </traitmodel>
   </extension>
   <extension
         point="net.sf.anathema.character.abilities.groups">
      <groups
            characterType="net.sf.anathema.character.type.solar">
         <traitGroup
               id="Dawn"
               label="%caste.printName.Dawn">
            <traitReference
                  traitId="Archery"></traitReference>
            <traitReference
                  traitId="MartialArts">
            </traitReference>
            <traitReference
                  traitId="Melee">
            </traitReference>
            <traitReference
                  traitId="Thrown">
            </traitReference>
            <traitReference
                  traitId="War">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Zenith"
               label="%caste.printName.Zenith">
            <traitReference
                  traitId="Integrity"></traitReference>
            <traitReference
                  traitId="Performance"></traitReference>
            <traitReference
                  traitId="Presence">
            </traitReference>
            <traitReference
                  traitId="Resistance">
            </traitReference>
            <traitReference
                  traitId="Survival"></traitReference>
         </traitGroup>
         <traitGroup
               id="Twilight"
               label="%caste.printName.Twilight">
            <traitReference
                  traitId="Craft">
            </traitReference>
            <traitReference
                  traitId="Investigation">
            </traitReference>
            <traitReference
                  traitId="Lore">
            </traitReference>
            <traitReference
                  traitId="Medicine">
            </traitReference>
            <traitReference
                  traitId="Occult">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Night"
               label="%caste.printName.Night">
            <traitReference
                  traitId="Athletics">
            </traitReference>
            <traitReference
                  traitId="Awareness">
            </traitReference>
            <traitReference
                  traitId="Dodge">
            </traitReference>
            <traitReference
                  traitId="Larceny">
            </traitReference>
            <traitReference
                  traitId="Stealth">
            </traitReference>
         </traitGroup>
         <traitGroup
               id="Eclipse"
               label="%caste.printName.Eclipse">
            <traitReference
                  traitId="Bureaucracy">
            </traitReference>
            <traitReference
                  traitId="Linguistics">
            </traitReference>
            <traitReference
                  traitId="Ride">
            </traitReference>
            <traitReference
                  traitId="Sail">
            </traitReference>
            <traitReference
                  traitId="Socialize">
            </traitReference>
         </traitGroup>
      </groups>
   </extension>
   <extension
         point="net.sf.anathema.character.core.resources">
      <image
            referenceId="SolarBall"
            resourceUrl="icons/Ball_Solar_16.png">
      </image>
      <image
            referenceId="Zenith"
            resourceUrl="icons/Caste_Zenith_16.png">
      </image>
      <image
            referenceId="Twilight"
            resourceUrl="icons/Caste_Twilight_16.png">
      </image>
      <image
            referenceId="Night"
            resourceUrl="icons/Caste_Night_16.png">
      </image>
      <image
            referenceId="Eclipse"
            resourceUrl="icons/Caste_Eclipse_16.png">
      </image>
      <image
            referenceId="Dawn"
            resourceUrl="icons/Caste_Dawn_16.png">
      </image>
   </extension>
   <extension
         point="net.sf.anathema.character.caste.castes">
      <casteList
            characterType="net.sf.anathema.character.type.solar">
         <caste
               casteId="Dawn"
               printName="%caste.printName.Dawn">
            <trait
                  traitId="Archery">
            </trait>
            <trait
                  traitId="MartialArts">
            </trait>
            <trait
                  traitId="Melee">
            </trait>
            <trait
                  traitId="Thrown">
            </trait>
            <trait
                  traitId="War">
            </trait>
         </caste>
         <caste
               casteId="Zenith"
               printName="%caste.printName.Zenith">
            <trait
                  traitId="Integrity">
            </trait>
            <trait
                  traitId="Presence">
            </trait>
            <trait
                  traitId="Performance">
            </trait>
            <trait
                  traitId="Resistance">
            </trait>
            <trait
                  traitId="Survival">
            </trait>
         </caste>
         <caste
               casteId="Twilight"
               printName="%caste.printName.Twilight">
            <trait
                  traitId="Craft">
            </trait>
            <trait
                  traitId="Investigation">
            </trait>
            <trait
                  traitId="Lore">
            </trait>
            <trait
                  traitId="Medicine">
            </trait>
            <trait
                  traitId="Occult">
            </trait>
         </caste>
         <caste
               casteId="Night"
               printName="%caste.printName.Night">
            <trait
                  traitId="Athletics">
            </trait>
            <trait
                  traitId="Awareness">
            </trait>
            <trait
                  traitId="Dodge">
            </trait>
            <trait
                  traitId="Larceny">
            </trait>
            <trait
                  traitId="Stealth">
            </trait>
         </caste>
         <caste
               casteId="Eclipse"
               printName="%caste.printName.Eclipse">
            <trait
                  traitId="Bureaucracy">
            </trait>
            <trait
                  traitId="Linguistics">
            </trait>
            <trait
                  traitId="Ride">
            </trait>
            <trait
                  traitId="Sail">
            </trait>
            <trait
                  traitId="Socialize">
            </trait>
         </caste>
      </casteList>
   </extension>
   <extension
         point="net.sf.anathema.character.core.templates">
      <template
            characterTypeId="net.sf.anathema.character.type.solar"
            templateId="net.sf.anathema.character.template.defaultsolar"
            name="%template.defaultsolar.name">
         <modelList
               modelListId="net.sf.anathema.character.essenceUser.modelList">
         </modelList>
      </template>
   </extension>
   <extension
         point="net.sf.anathema.character.core.types">
      <characterType
            id="net.sf.anathema.character.type.solar"
            image="icons/SolarIcon_16.png"
            traitImageId="SolarBall">
      </characterType>
   </extension>  
   <extension
         point="net.sf.anathema.character.freebies.credits">
      <creditList
            templateId="net.sf.anathema.character.template.defaultsolar">
         <credit
               id="net.sf.anathema.character.attributes.freebies.primary"
               value="8">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.secondary"
               value="6">
         </credit>
         <credit
               id="net.sf.anathema.character.attributes.freebies.tertiary"
               value="4">
         </credit>
         <credit
               id="net.sf.anathema.character.abilties.freebies.unrestricted"
               value="18">
         </credit>
         <credit
               id="net.sf.anathema.character.abilties.freebies.favored"
               value="10">
         </credit>
         <credit
               id="net.sf.anathema.character.abilities.count.favored"
               value="5">
         </credit>
         <credit
               id="net.sf.anathema.charms.character.credit.favored"
               value="5">
         </credit>
         <credit
               id=" net.sf.anathema.charms.character.credit.unrestricted"
               value="5">
         </credit>
      </creditList>
   </extension>
   <extension
         point="net.sf.anathema.character.points.bonuspoints">
      <bonuspoints
            amount="15"
            templateId="net.sf.anathema.character.template.defaultsolar">
      </bonuspoints>
   </extension>
   <extension
         point="net.sf.anathema.character.trait.favorization">
      <favorization
            characterTemplateId="net.sf.anathema.character.template.defaultsolar"
            favoredCount="5"
            modelId="net.sf.anathema.character.abilities.model">
      </favorization>
   </extension>
   <extension
         point="net.sf.anathema.character.importwizard.templateconverters">
      <converter
            newTemplateId="net.sf.anathema.character.template.defaultsolar"
            oldCharacterType="Solar"
            oldTemplateId="TemplateType.Default">
      </converter>
   </extension>
   <extension
         point="net.sf.anathema.charms.character.charmcosts">
      <charmCosts
            characterType="net.sf.anathema.character.type.solar">
         <experience>
            <costs
                  cheap="8"
                  expensive="10">
            </costs>
         </experience>
         <bonus>
            <costs
                  cheap="4"
                  expensive="5">
            </costs>
         </bonus>
      </charmCosts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="net.sf.anathema.category.character"
            class="net.sf.anathema.charactertype.solar.NewDefaultSolarWizard"
            hasPages="false"
            icon="icons/SolarIcon_16.png"
            id="net.sf.anathema.character.template.defaultsolar.newwizard"
            name="%new.wizard.character.template.defaultsolar">
      </wizard>
   </extension>

</plugin>
