<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.freebies.configurations">
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.charms.character.freebies.CheapCharmFreebiesHandler"
            name="%FreebiesConfiguration.cheapCharms.name">
      </FreebiesConfiguration>
      <FreebiesConfiguration
            handlerClass="net.sf.anathema.charms.character.freebies.UnrestrictedCharmHandler"
            name="%FreebiesConfiguration.unrestrictedCharms.name">
      </FreebiesConfiguration>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <bonusPointCalculator
            groupReference="charmCosts"
            handlerClass="net.sf.anathema.charms.character.freebies.bonus.CheapCharmFreebiesBonusPointReducer">
      </bonusPointCalculator>
      <bonusPointCalculator
            groupReference="charmCosts"
            handlerClass="net.sf.anathema.charms.character.freebies.bonus.UnrestrictedCharmFreebiesBonusPointReducer">
      </bonusPointCalculator>
   </extension>

</plugin>
