<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.anathema.character.core.models">
      <model
            filename="backgrounds.model"
            id="net.sf.anathema.character.backgrounds.model"
            modelFactory="net.sf.anathema.character.backgrounds.BackgroundModelFactory">
         <displayConfiguration
               displayName="Backgrounds"
               editorId="net.sf.anathema.character.backgrounds.editor"
               editorInputFactory="net.sf.anathema.character.backgrounds.EditorInputFactory"
               icon="icons/TabCharacter16.png">
         </displayConfiguration>
      </model>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.anathema.character.backgrounds.BackgroundEditor"
            default="false"
            icon="icons/TabCharacter16.png"
            id="net.sf.anathema.character.backgrounds.editor"
            name="Backgrounds">
      </editor>
   </extension>
   <extension
         point="net.sf.anathema.character.core.modellists">
      <modelList
            id="net.sf.anathema.character.basic.modelList">
         <modelReference
               modelId="net.sf.anathema.character.backgrounds.model">
         </modelReference>
      </modelList>
   </extension>
   <extension
         point="net.sf.anathema.character.points.configurations">
      <pointGroup
            groupId="backgrounds"
            modelId="net.sf.anathema.character.backgrounds.model"
            name="Backgrounds">
      </pointGroup>
      <bonusPointCalculator
            groupReference="backgrounds"
            handlerClass="net.sf.anathema.character.backgrounds.points.BonusPointHandler">
      </bonusPointCalculator>
   </extension>

</plugin>
